.location-and-hours-wrapper {
    display: flex;
    flex: 1.5;
    margin-top: 5%;
    margin-left: 7%;
    flex-direction: column;
}
.location-and-hours-wrapper-title {
    font-size: 1.7rem;
    font-weight: 900;
    color: #0b2C4C;
    padding: 0;
    margin: 0;
    margin-bottom: 1vh;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
@media (max-width: 600px) {
    .location-and-hours-wrapper {
        margin-left: 0px;
    }
}