.nav {
    display: flex;
    margin:0;
    padding:0;
    width: 100vw;
    height: 15vh;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    background-color: #f7f8f8;
    /* color: #9d9d9d; */
    font-family:  Avenir,Lato, Arial, Helvetica, sans-serif;
    /* margin-left: 10vw; */
}
.nav-title {
    font-size: 1.8rem;
    font-weight: 900;
	color: #d3d1d1;
    margin:0;
    padding:0;
    margin-top: 2.5vh;
    margin-left: 10vw;
}
#nav-title {
    opacity: 1;
    font-weight: 900;
	color: #d3d1d1;
    letter-spacing: 1px;
    transition: .2s;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
    transition-timing-function: ease-in-out;
}
.nav-title:hover {
    background-color: transparent!important;
}
#nav-title:hover {
    background-color: transparent!important;
}
.nav-item-wrapper {
    display: flex;
    margin:0;
    padding:0;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 3.5vh;
    text-decoration: none;
}
.nav-item {
    font-size: 1rem;
    margin:0;
    padding:0;
    text-decoration: none!important;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.page-tabs .nav-link {
    cursor: pointer;
	/* color: #cac8c8; */
    color: #0b2C4C;
    opacity: .3;
    transition: .2s;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
    font-weight: 600;
    transition-timing-function: ease-in-out;
    padding: 7px;
    border-radius: 3px;
}
.page-tabs .nav-link:hover {
    /* color: red; */
    background-color: #fab345;
    opacity: 1;
}
.page-tabs .nav-link.active {
	/* color: #cac8c8; */
    color: #ee4760;
    opacity: 1;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
    /* font-weight: 500; */
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.page-tabs .nav-link.active:hover {
    color: #ee4760;
    opacity: 1;
    background-color: transparent;
}
.logo {
    width: 180px;
    
    margin: 50px 0;
}

