.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
    padding-bottom: 50px;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: .4;
    height: 200px;
    width: 60%;
    margin-bottom: 10vh;
    margin-top: 8vh;
}
.header-image {
    height: 220px;
    width: 220px;
    margin-left: 75%;
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.2);
    border-radius: 5px;
}
.header-title {
    font-size: 2.2rem;
    font-weight: 900;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 3%;
    margin-top: 20%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.header-content-wrapper {
    margin-left: 25%;
}

.review-favorite-count {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.user-review-count {
    margin-left: 2%;
    font-size: 1.1rem;
    font-weight: 100;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 3%;
    margin-top: 10%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.reviews-favorites-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: row;
    padding-bottom: 50px;
}
.favorites-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    flex: 1;
}
.reviews-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.my-restaurants-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.my-reviews-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.no-saved-restaurants { 
    margin-left: 10%!important;
}
.no-saved {
    margin-left: 5%;
    color: #ee4760!important;
    font-weight: 900;
    font-size: 2.2rem;
    font-family: 'Kalam', cursive, 'Avenir', 'Lato', Helvetica,Arial , sans-serif;
    /* font-family: 'Avenir', 'Lato', Helvetica,Arial , sans-serif; */
}
@media (max-width: 600px) {
    .profile-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .header-image {
        height: 300px;
        width: 300px;
        margin-left: 7.5%;
    }
    .header-content-wrapper {
        margin: 0;
        padding: 0;
        margin-left: 8.5%;
    }
    .header-title {
        font-size: 2.2rem;
        color: #0b2C4C;
        margin-top: 6%;
    }
    .review-favorite-count {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .user-review-count {
        margin-left: 2%;
        font-size: 1.4rem;
        margin-bottom: 3%;
        margin-top: 1%;
    }
    .reviews-favorites-wrapper {
        flex-direction: column;
    }
    .my-restaurants-title {
        font-size: 1.8rem;
        margin-left: 5%;
        margin-bottom: -14%;
    }
    .my-reviews-title {
        font-size: 1.8rem;
        margin-left: 7.5%;
        margin-top: 25%;
    }
    .favorites-container {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        flex: 1;
    }
    .reviews-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10%;
    }
    .no-saved-restaurants { 
        margin-top: 20%!important;
    }
    .no-saved-reviews {
        margin-top: 3%;
    }
}