.user-review-container {
    width: 75%;
    margin-top: 3%;
    margin-left: 1%;
    /* height: 160px;  */
    /* overflow: auto; */ 
    /* overflow:hidden;
    height:1%; */
    min-height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
    border-radius: 3px;
    transition: .2s;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}
.user-review-container:hover {
    cursor: pointer;
    transition: .2s;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.3);
}
.my-reviews-image-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
}
.my-reviews-image-wrapper img {
    height: 150px;
    width: 150px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.my-reviews-icon {
    font-size: 8rem!important;
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 3px;
    color: #d3d1d1;
}
.my-review-main-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 1%;
}
.my-review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
/* .user-review-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 3%;
    margin-top: 5%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
} */
.user-review-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0b2C4C;
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 3%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.user-review-title-link {
    text-decoration: none!important;
}
.user-review-title:hover {
    text-decoration: underline;
}
.user-review-date {
    font-size: .9rem!important;
    font-weight: 100!important;
    color: #0b2C4C;
    opacity: .6;
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.my-review-text {
    font-size: 1rem!important;
    font-weight: 100!important;
    color: #0b2C4C;
    opacity: .8;
    padding: 0;
    display: flex;
    margin: 0;
    width: 94%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: -2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif; 
}
.my-reviews-ratings {
    margin-bottom: 1%;
    margin-left: 5%;
    border: 1px solid red;
}
.delete-my-review {
    margin-left: 4%;
}
.my-review-icons {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-bottom: 3%;
    color: #0b2C4C;
}
.delete-my-review {
    opacity: .5;
    transition: .2s;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}
.edit-my-review {
    opacity: .5;
}
.delete-my-review:hover {
    opacity: .9;
    cursor: pointer;
    transition: .2s;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}
.edit-my-review:hover {
    opacity: .9;
    cursor: pointer;
    transition: .2s;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
}

@media (max-width: 600px) {
    .user-review-container {
        width: 100%;
        height: min-content;
        padding-bottom: 20px;
        margin-top: 5%!important;
        flex-direction: column;
    }
    .my-reviews-image-wrapper {
        display: flex;
        flex: 1;
        height: 100%;
    }
    .my-reviews-image-wrapper img {
        height: 200px;
        width: 200px;
        margin: auto;
    }
    .my-review-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5%;
    }
    .user-review-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #0b2C4C;
        padding: 0;
        display: flex;
        margin: 0;
        margin-bottom: 3%;
        margin-left: 5%;
        margin-top: 5%;
        font-family: 'Lato', Helvetica,Arial , sans-serif;
    }
    .user-review-date {
        font-size: 1.2rem!important;
        font-weight: 100!important;
        color: #0b2C4C;
        opacity: .6;
        padding: 0;
        display: flex;
        margin: 0;
        margin-bottom: 3%;
        margin-right: 3%;
        margin-left: 5%;
        margin-top: -2%;
        font-family: 'Lato', Helvetica,Arial , sans-serif;
    }
    .my-reviews-ratings {
        margin-left: 5%!important;    
        border: 1px solid red!important;
        padding-left: 5%;
    }
    #user-review-ratings {
        margin-left: 5%!important;    
        border: 1px solid red!important;
        padding-left: 5%;
    }
    .my-review-text {
        font-size: 1.3rem!important;
        font-weight: 100!important;
        color: #0b2C4C;
        opacity: .8;
        padding: 0;
        display: flex;
        margin: 0;
        width: 90%;
        margin-bottom: 3%;
        margin-right: 3%;
        margin-left: 5%;
        margin-top: -2%;
        font-family: 'Lato', Helvetica,Arial , sans-serif; 
    }

}